* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}
header, footer {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px 0;
}

header {
    overflow: hidden; /* Clear floats */
}

header img {
    max-width: 100%;
    height: auto;
    max-width: 200px; /* Adjust the maximum width of the header image */
}

header h2, header h3 {
    display: inline;
    margin: 0;
    vertical-align: middle;
}

#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
.slicknav_menu {
	display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto; /* Set top and bottom margins to 20px and left and right margins to auto */
    max-width: 1000px; /* Set maximum width of the container */
}
.join-team-title {
    text-align: center; /* Center the text */
    margin-bottom: 20px; /* Add space between the title and images */
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribute items evenly in two columns */
}

.team-member {
    flex-basis: calc(50% - 20px); /* Each member takes up 50% of the container width with 20px gap */
    text-align: center;
}

.team-image {
    width: 100%;
    height: auto;
    border-radius: 50%; /* Make the images circular */
}

.team-name {
    margin-top: 10px;
    font-weight: bold;
}

.team-role {
    margin-top: 5px;
}

footer {
    margin-top: 20px; /* Add space between content and footer */
}
